/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.site-footer {
    background: darken($color-secondary,25%);
    color: lighten($color-secondary,10%);
    h1,h2,h3,h4,h5,h5 {
        color:  #fff;
    }

    .site-info {
        padding: 25px;
        strong {
            font-weight: 400;
        }
        .credits,
        .social {
            @include column(1/2, $gutter:5);
        }
    }
    .footer-nav {
        list-style: none;
        margin: 0;
        padding: 10px 0 0 0;
        text-align: left;
        border-bottom: 1px solid darken($color-secondary,15%);
        li {
            display: inline-block;
            font-size: 1.5rem;
            a {
                color: lighten($color-secondary,10%);
                &:hover {
                    color: lighten($color-secondary,15%);
                }
            }
        }
    }
    .footer-widgets {
        padding-top: 25px;
        border-bottom: 1px solid darken($color-secondary,15%);
        a {
            color: $color-quinary;
            &:hover {
                color: lighten($color-secondary,15%);
            }
        }
    }
    .custom-logo {
        height: 32px;
        width: auto;
        float: left;
        margin-right: 15px;
    }
    .social-url {
        padding-top: 25px;
        text-align: right;
        a {
            font-size: 1.5rem;
            margin-bottom: 25px;
            margin-right: 5px;
            padding: 0 5px;
        }
    }
    .credits {
        padding-top: 25px;
        font-size: 1.3rem;
        color: lighten($color-secondary,10%);
        a {
            color: lighten($color-secondary,10%);
        }
    }
}

